.header-container {
  background: transparent;


  .header-items {
    display: flex;
    height: 50px;
    margin: 2% 30% 0% 30%;

    img {
      margin-right: auto;
      height: 30px;
    }

    span {
      margin-left: 15px;
    }
  }

}
